<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
 <insert id="insert">
  insert into member2 (id, pwd, email) values (#{id}, #{pwd}, #{email})
 </insert>
 <select id="select" resultType="kr.ac.dit.domain.MemberVO">
  select * from member2 where id = #{id} and pwd = #{pwd}
 </select>
</mapper>
